# PostgreSQL
POSTGRES_DB=s309
POSTGRES_USER=
POSTGRES_PASSWORD=

# Backend
DB_URL=jdbc:postgresql://postgres:5432/s309
DB_USERNAME=
DB_PASSWORD=
SPRING_PROFILES_ACTIVE=prod

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

# AI
AI_DEBUG=false

# AWS S3
AWS_S3_ACCESS_KEY=
AWS_S3_SECRET_KEY=
AWS_S3_REGION=ap-northeast-2
AWS_S3_BUCKET=
