# PostgreSQL
POSTGRES_DB=s309
POSTGRES_USER=
POSTGRES_PASSWORD=

# Backend
DB_URL=jdbc:postgresql://postgres:5432/s309
DB_USERNAME=
DB_PASSWORD=
SPRING_PROFILES_ACTIVE=local

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

# AI
AI_DEBUG=false
